#root {
    position: relative;
}

@media only screen and (min-width: 800px) {
    form {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
}

form {
    margin-top: 50px;
}

form .row {
    margin-bottom: 20px;
}

.submitAdvert {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 50px;
}

.form-heading {
    text-align: center;
    margin-top: 50px;
}

.card img {
    height: 300px;
}

.selected-advert img {
    height: 90%;
    width: 90%;
    border: 1px solid black;
}

.selected-advert {
    margin-top: 50px;
}