#root {
    position: relative;
}

@media only screen and (min-width: 800px) {
    form {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
}

form {
    margin-top: 50px;
}

form .row {
    margin-bottom: 20px;
}

.submitAdvert {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 50px;
}

.form-heading {
    text-align: center;
    margin-top: 50px;
}

.card {
    min-height: 520px;
}

.card .card-img-wrapper {
    height: 300px;
    text-align: center;
    padding-bottom: 30px;
}

.card-body img {
    max-width: 100%;
    max-height: 100%;
}

.selected-advert {
    margin-top: 50px;
}

.advert-list-container .row .col-lg-4 {
    margin-bottom: 30px;
}

.card button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* .searchButton {
    margin-left: auto;
    margin-right: auto;
    display: block;
} */